.output_line {
    white-space: nowrap;

    display: flex;
    flex-direction: row;

    border-bottom: 1px solid #333;
    padding: 1px 0;
}

.output_line_buttons {
    width: 40px;
    min-width: 40px;
}

.output_line_button {
    color: #75715e;
    
    &:hover {
        text-decoration: underline;
        cursor: pointer;
        background-color: #75715e;
        color: #272822;
    }
}
