.bar {
    background-color: rgb( 68, 68, 68 );
    border-top: 1px solid rgb( 85, 85, 85 );
    height: 30px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding: 0px 8px;
    color: #f8f8f2;

    a, div, input {
        margin: 0px 4px;
    }

    a:link, a:visited {
        color: inherit;
    }
}
