/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";

html, body, #root, #app {
    height: 100%;
    width: 100%;
    font-family: 'Hack', monospace;
    font-size: 12px;
    font-weight: 400;
}


.light-text {
    color: #75715e;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: #222;
    padding: 2px;
}
::-webkit-scrollbar-thumb {
    background: #666;
    -webkit-border-radius: 1px;
}
::-webkit-scrollbar-corner {
    background: #222;
}
