.color_hex {
    
}

.color_error {
    white-space: pre;
    color: red;
}

.color_00 {
    color: #272822;
}

.color_01 {
    color: #383830;
}

.color_02 {
    color: #49483E;
}

.color_03 {
    color: #75715E;
}

.color_04 {
    color: #A59F85;
}

.color_05 {
    color: #F8F8F2;
}

.color_06 {
    color: #F5F4F1;
}

.color_07 {
    color: #F9F8F5;
}

.color_08 {
    color: #F92672;
}

.color_09 {
    color: #FD971F;
}

.color_0A {
    color: #F4BF75;
}

.color_0B {
    color: #A6E22E;
}

.color_0C {
    color: #A1EFE4;
}

.color_0D {
    color: #66D9EF;
}

.color_0E {
    color: #AE81FF;
}

.color_0F {
    color: #CC6633;
}
